[general]
domain = empty.local
seoUri = false
title = false

[db]
adapter = mysql
cache = false
host = localhost
username = empty
password = empty
dbname   = empty

[lang]
front = ru
admin = en
gapi.key =

[view]
scriptPath = application/views

[upload]
path = data/upload

[ckeditor]
key = 
uploadPath = fck

[ws]
enabled = true
realtime = true
socket = empty.local
port = 8888
log = true

[rabbitmq]
enabled = true
host = localhost
port = 5672
user = guest
pass = guest
