## General stuff ##
DirectoryIndex index.php
RedirectMatch 404 \.(ini|git)

## Compression ##
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
</IfModule>

## Rewrite rules ##
RewriteEngine On

# Proxy websockets
RewriteCond %{HTTP:Sec-WebSocket-Version} 13 [NC]
RewriteRule ^ - [E=IS_WEBSOCKET:1]
Header set Connection "Upgrade" env=IS_WEBSOCKET
Header set Upgrade "websocket" env=IS_WEBSOCKET
RewriteCond %{ENV:IS_WEBSOCKET} 1
RewriteRule ^/?(.*) "ws://rabbitmq:15674/ws" [P]

# Proxy client app
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} resources|classic
RewriteRule .* %{ENV:VDR}/client%{REQUEST_URI} [L]
RewriteRule ^admin(.*) %{ENV:VDR}/client$1 [L]

# Proxy 3rd-party resources
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} admin/vendor
RewriteRule ^admin/(.*) $1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]
